html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    pointer-events: none;
}

#serverLogo {
    visibility: hidden;
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);

    width: 140px;
    height: auto;

    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    pointer-events: none;
    user-select: none;
}

#serverLogo.visible {
    visibility: visible;
    opacity: 1;
}
